@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer{
    background-color: #009ddc;
    padding: 20px 20px;

    .footer-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        object-fit: cover;
      
    }
    img{
        height: auto;
        width: auto;
    }
    .footer-links{
        .footer-Ulist{
            text-decoration: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        a {
            color: white;
            text-decoration: none;
        }

        .footer-social {
            width: 25px;
            &.facebook {
                margin-right: 10px;
                margin-left: 85px;

            }
            &.linkedin {
                // width: 19px;
                position: relative;
                top: 1px;
                margin-right: 15px;
            }
            &.instagram{
                margin-right: 15px;
            }
            &.tiktok{
                margin-right: 105px;
                padding-bottom: 6px;
            }
        }

        .telephone {
            // margin-left: 0px;
            margin-right: 15px;
            padding-bottom: 15px;
            margin-left: 15px;
            
        }
        .contact-Us{
            &.email{color: red;}
            margin-right: 15px;
        }


        // list for copyright 2022
        .copyright{
            color: white;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
        }
    }
  
}
@media (min-width: 768px) {
footer{
    .footer-content {
        flex-direction: row;
        
    }
    .footer-content>div{
        display: flex;
        align-items: center;
        flex-basis: 50%;
        width: 50%;
        justify-content: center;
    }

}
}
@media (min-width: 1024px) {
footer{
    .footer-links{
        .footer-social {
            width: 35px;
            &.facebook {
                // width: 40px;
            }
            &.linkedin {
                // width: 40px;
            }
            &.instagram{
                // width: 40px;
            }
            &.tiktok{
               
               margin-right: 20px;
            }
        }
    
        .telephone {
            font-size: 25px;
            margin-left: 20px;
            // padding-bottom: 20px;
            font-family: 'Lato';
           
           
        }
        .contactUs{
            margin-top: 10px;
            font-size: 23px;
            margin-left: 5px;
            // font-family: 'Lato';
            // span :hover{
            //     color: red;
            // }
        }

    }
}


}
.logo{
    width: 160px;
    margin: auto;
}
