@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.windows {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 1200px; 
    .waveBlueLine{
        position: absolute;
        bottom: 0;
        z-index: 2;
    }  
}