@use "variables" as *;

@mixin  mobile {
    @media (max-width: #{$width}){
        @content
    }
}
@mixin flatten($list: false) {
    margin: 0;
    padding: 0;
    line-height: 1;
    @if($list == true){
        list-style: none;
    }
}
